<div class="login-form-container">
    <div>
      <h1>Login</h1>
      <form>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control short-input" name="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control short-input" name="password" required>
        </div>
        <button type="submit" class="btn custom-button">Login</button>
      </form>

      <div class="error-message"></div>
    </div>

    <div>
      <img src="" alt="Company Image" class="company-image">
    </div>
  </div>